<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Dobro</title>
    <!--/*/ <th:block th:include="fragments/header :: head"></th:block> /*/-->
    <script>
        function nextMsg() {
            var msg = messages.pop();
            if (msg == messages[messages.length - 1]) {
                $('#message').html("DOBRO").fadeIn(200);
            } else {
                $('#message').html(msg).fadeIn(300).delay(2000).fadeOut(200, nextMsg);
            }
        }

        var messages = [
            "LEARN",
            "IMMERSE",
            "EXPLORE",
            "ENJOY",
            "DISCOVER",
            "FEEL",
            "RUSSIAN"
        ].reverse();

        nextMsg();
    </script>
</head>
<body>

<video autoplay="autoplay" id="bgvid" loop="loop" preload="auto">
    <source src="../static/video/bgvideo.mov" th:src="@{/video/bgvideo.mov}" type="video/quicktime"/>
</video>

<div style="float: right; margin-right: 1%; margin-top: 1%; color: white">
    <a href="/signin" th:href="signin" class="linkhome">Sign in</a> |
    Sign up
</div>

<div style="margin-left: 20%; margin-top:20%; font-size: 100px; float: left; color: white;" align="center">
    <span id="message">RUSSIAN</span>
</div>
<div style="width:20%; margin-right: 10%; margin-top: 20%; float: right">
    <form action="#" th:action="@{/}" role="form" th:object="${user}" method="post">
        <input type="hidden" th:field="*{id}"/>
        <div th:if="${#fields.hasErrors()}" class="alert alert-danger"><strong>Invalid data</strong></div>
        <div class="form-group">
            <input type="text" class="form-control" id="usr" placeholder="Name" th:field="*{username}"/>
            <span th:if="${#fields.hasErrors('username')}" th:errors="*{username}" class="text-warning">Invalid name</span>
        </div>

        <div class="form-group">
            <input type="email" class="form-control" id="email" placeholder="E-mail" th:field="*{email}"/>
            <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="text-warning">Invalid e-mail</span>
        </div>

        <div class="form-group">
            <input type="password" class="form-control" id="pwd" placeholder="Password" th:field="*{password}"/>
            <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="text-warning">Invalid password</span>
        </div>

        <button type="submit" class="btn btn-default">Join for free</button>
    </form>
</div>


</body>
</html>